
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
     overflow-x: hidden;
      line-height: 20px;
}
body.open {
  overflow-y: hidden;
}

.shop {
  position: relative;
  z-index: 5;
}

/*/////////////////index page//////////////////////*/
.navbar-header{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 80px
}
/*////////////////itemlist/////////////////
*/
.js-add-product{
    margin-top: 10px;
}







/*/////////////////cart/////////////////*/
.cart {
  position: fixed;
  background: #FFCCCC;
  width: 400px;
  max-width: 90%;
  height: 100%;
  top: 0;
  right: 0;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translate(500px, 0);
  transition: transform $speed ease-in-out;
  z-index: 20;
}

body.open .cart {
  transform: translate(0, 0);
}
.cart__header {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px 15px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  
}

.cart__title {
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  float: left;
}

.cart__products {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 70px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}
p{
    font-size:14px;
    margin:0;
}
.cart__footer {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px;
  left: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  text-align: right;
}

.closecart{margin-left:150px;}
/*///////////////header //////*/

.header {
    margin-top: 50px;
    position: relative;
       width: 100%;
    
        }
/*
.portforlio
{
    padding: 1px 0;
}*/
.portfolio {
    padding: 10px 0;
}
.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

/*/////////////login page//////////////*/

.topbar{
    margin-top:
    50px;
   margin:auto;

}
.p.serif{font-family:"Times New Roman",Times,serif;}


.btnsignin{
    margin-top: 7px;2
}
.signin-item{
    margin-bottom:100px;
}
.createaccount{

    margin-bottom:100px;
}


 .sproduct{
    margin-top: 50px;
 }

.bigpic{
    margin-bottom: 10px;
}
.item-select{
    margin-top: 25px;
    margin-bottom: 50px;
}

.addtocart{
    margin-top:20px;
}

.otheritem:hover{
    opacity: 0.5;
}

.lightbox .thumbnail {
    margin: 1em auto;
}
