
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}






/*/////////////////search/////////////////*/

.icon {
    display:inline-block;
    height:1em;
    width:1em;
    background-repeat: no-repeat;
    background-size:contain;
    vertical-align: middle;
}
.icon-search {
    background-image: url(../img/search-icon.svg);
}


.search {
    background-color:#eee;
    line-height: 1em;
    padding:.2em .5em;
    border-radius:1em;
    float: left;
    margin-top: 13px;
    margin-right: 10px;
}
.search-input {
    border-width:0;
    background-color:inherit;
    font: inherit;
    padding:0;
    margin:0;
    line-height:1em;
    border-radius:0;
    outline:0;
    width:0;
    overflow:hidden;
    transition: all 0.3s;
}
.search:hover .search-input {
    width:10em;
    padding:0 0.5em;
}
/*///////////////header //////*/

.header {
    margin-top: 50px;
    position: relative;
       width: 100%;
    
        }
/*
.portforlio
{
    padding: 1px 0;
}*/
.portfolio {
    padding: 10px 0;
}
.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

/*/////////////login page//////////////*/

.topbar{
    margin-top:
    50px;
   margin:auto;

}
.p.serif{font-family:"Times New Roman",Times,serif;}


.btnsignin{
    margin-top: 7px;2
}
.signin-item{
    margin-bottom:100px;
}
.createaccount{

    margin-bottom:100px;
}


 .sproduct{
    margin-top: 50px;
 }

.bigpic{
    margin-bottom: 10px;
}





